In [23]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score

In [19]:
data = pd.read_csv("tweets.csv", header=None)#, names = ["annotate1", "annotate2", "tweet"])

In [ ]:
pos = [0, 0, 0]
neg = [0, 0, 0]
neu = [0, 0, 0]

for a, b in zip(data[0], data[1]):
  if a == b:
    if a == "Positive":
      pos[0] = pos[0] + 1
    elif a == "Negative":
      neg[1] = neg[1] + 1
    else:
      neu[2] = neu[2] + 1
  elif a == "Positive":
    if b == "Negative":
      neg[0] = neg[0] + 1
    else:
      neu[0] = neu[0] + 1
  elif a == "Negative":
    if b == "Positive":
      pos[1] = pos[1] + 1
    else:
      neu[1] = neu[1] + 1
  else:
    if b == "Postive":
      pos[2] = pos[2] + 1
    else:
      neg[2] = neg[2] + 1

In [55]:
total = []
for cnt in range(3):
  total.append(pos[cnt] + neg[cnt] + neu[cnt])

[25, 7, 18]

In [98]:
obs = [pos[0]/50, neg[1]/50, neu[2]/50]
exp = []

In [104]:
combi = np.array([pos, neg, neu, total, obs])
columns = ["Positive_anno1", "Negative_anno1", "Neutral_anno1"]
rows = ["Positive_anno2", "Negative_anno2", "Neutral_anno2", "Total", "Observed Agreement"]

count_df = pd.DataFrame(data = combi, index = rows, columns = columns)
count_df["Total"] = count_df.sum(axis = 1)
count_df

                    Positive_anno1  Negative_anno1  Neutral_anno1  Total
Positive_anno2               14.00             0.0           0.00  14.00
Negative_anno2                5.00             5.0          10.00  20.00
Neutral_anno2                 6.00             2.0           8.00  16.00
Total                        25.00             7.0          18.00  50.00
Observed Agreement            0.28             0.1           0.16   0.54

In [63]:
Ao = (pos[0] + neg[1] + neu[2])/50
Ao

0.54

In [108]:
anno1 = []
anno2 = []
prod = []

for p2 in count_df["Total"]:
  anno2.append(p2/50)
del anno2[-2]

for p1 in total:
  anno1.append(p1/50)

for p1, p2 in zip(anno1, anno2):
  prod.append(p1 * p2)
prod.append(sum(prod))

count_df.loc["Expected Agreement"] = prod
count_df

                    Positive_anno1  Negative_anno1  Neutral_anno1    Total
Positive_anno2               14.00           0.000         0.0000  14.0000
Negative_anno2                5.00           5.000        10.0000  20.0000
Neutral_anno2                 6.00           2.000         8.0000  16.0000
Total                        25.00           7.000        18.0000  50.0000
Observed Agreement            0.28           0.100         0.1600   0.5400
Expected Agreement            0.14           0.056         0.1152   0.3112

In [112]:
Ae = sum(prod[0:3])
Ae

0.31120000000000003

In [118]:
score = [cohen_kappa_score(data[0], data[1]), "", "", ""]
count_df.loc["Cohen's Kappa"] = score
count_df

                    Positive_anno1 Negative_anno1 Neutral_anno1   Total
Positive_anno2           14.000000              0             0      14
Negative_anno2            5.000000              5            10      20
Neutral_anno2             6.000000              2             8      16
Total                    25.000000              7            18      50
Observed Agreement        0.280000            0.1          0.16    0.54
Expected Agreement        0.140000          0.056        0.1152  0.3112
Cohen's Kappa             0.294479

In [120]:
data = pd.read_csv("tweets.csv", header=None, names = ["annotate1", "annotate2", "tweet"])

In [123]:
count_df.to_csv("Cohen_Kappa.csv",header=True, index=True)
data.to_csv("Survey_Results.csv",header=True, index=False, encoding='utf-8-sig')

Created by: Alyssa Lim